a {
	color: black;
	text-decoration: none;
}
h1 {
	font-size:45px;
	text-align: center;
	border-bottom: 5px solid aquamarine;
	padding: 30px;
	margin:0;
}
#grid ul {
	border-right: 3px solid gray;
	width:100px;
	margin:0;
	padding:40px;
}
#grid {
	display:grid;
	grid-template-columns: 230px 1fr;
}
#arcticle {
	padding:30px;
}